# Configurações do Supabase
# Substitua pelos valores do seu projeto Supabase
SUPABASE_URL=https://cczhqlolidfewgoejqhq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjemhxbG9saWRmZXdnb2VqcWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMDUyMDMsImV4cCI6MjA3ODg4MTIwM30.SyRztoZ8IJ76mmCYsYuluxlM6XNP8plPe0hPqrpTFZY

# Configurações de desenvolvimento
NEXT_PUBLIC_SUPABASE_URL=https://cczhqlolidfewgoejqhq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjemhxbG9saWRmZXdnb2VqcWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMDUyMDMsImV4cCI6MjA3ODg4MTIwM30.SyRztoZ8IJ76mmCYsYuluxlM6XNP8plPe0hPqrpTFZY

# Configurações opcionais
NODE_ENV=development
